{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow" style="max-width: 500px; width: 100%;">
    <h4 class="text-center mb-3">{% trans "Change Password" %}</h4>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="mb-3">
        {{ form.password1.label_tag }}
        {{ form.password1|add_class:"form-control" }}
      </div>
      <div class="mb-3">
        {{ form.password2.label_tag }}
        {{ form.password2|add_class:"form-control" }}
      </div>
      <button type="submit" class="btn btn-primary w-100">{% trans "Change Password" %}</button>
    </form>
  </div>
</div>
{% endblock %}
